/* ----- Tic Tac Toe ----- */
.status {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.projectContainer {
    margin: auto;
    padding: 15px;
    padding-top: 25px;
    
}

.game_columns{
    display: grid;
    align-items: center;
    justify-content: center;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;

}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.restartBTN {
    background-color: #af4c91;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.restartBTN:hover {
    background-color: #64035f;
}