/* ----- Containers ----- */

.avatarContainer{
    max-width:500px;
}

/* ----- Image File Stylings ----- */
.avatarImageCard {
    text-align: center;
    align-self: center;
}

.avatarImageCard img {
    padding: 2px;
    border-radius: 5px;
}

.projectContainer {
    display: flex;
    padding: 2px;
    border-radius: 5px;
    border: #0B2B26 dashed;
}

/* ----- Error Box Messaging ----- */
.alert {
    min-width: 600px;
    max-width: 600px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFFF8A;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.closebtn {
    margin-left: 5px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.overlayBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: none;
    /* Hidden by default */
    z-index: 1000;
    /* Ensure it's on top */
}

.alertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
    outline: none;
    background: #E5E5F7;
    color: #0F0F0F;
    border: 5px outset #8EB69B;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px #E2E2E2;
    transition: .3s ease;
    text-align: center;
    vertical-align: middle;
}