.projectContainer {
  margin: auto;
  padding: 15px;
  padding-top: 25px;

}

.game_columns {
  display: grid;
  align-items: center;
  justify-content: center;
}

.msgBox {
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer button {
  margin-right: 10px;
}

.gameBTN {
  width: 100%;
  background-color: #af4c91;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.gameBTN:hover {
  background-color: #64035f;
}

.onoffswitch {
  position: relative;
  width: 175px;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Easy Mode ON";
  padding-left: 10px;
  background-color: #AF4C91;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "Easy Mode OFF";
  padding-right: 10px;
  background-color: #FFC1EC;
  color: #000000;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 121px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* Base Line Items Above */
/* Game Items Below */
.lightBox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 10px;
  padding: 0px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px #BBB;
  background-color: Gray;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.lightBox:active {
  background-color: #EEE;
}

.lightActive:before {
  content: "\f0eb";
  font-family: FontAwesome;
  color: #EEE;
  font-size: 50px;
  position: absolute;
  top: 13%;
  left: 33%;
}

.lightBox:hover {
  box-shadow:
    0px 0px 0px 6px GoldenRod,
    0px 2px 10px 1px #BBB;
}

.lightActive {
  background-color: Gold;
}

.lightActive:hover {
  box-shadow:
    0px 0px 0px 6px DimGrey,
    0px 2px 10px 1px #BBB;
}

.how-to {
  margin-top: 15px;
  background-color: GhostWhite;
}

.game-cont {
  position: relative;
  padding-top: 5px;
}

.winner-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.winner-msg {
  padding-top: 230px;
  text-align: center;
}

.winner-msg {
  color: #EEE;
}