.custom-select {
    position: relative;
    width: 50%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    width: 100px;
    background-color: #E5E5F7;
    border: 1px solid #8EB69B;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

select:hover {
    background-color: #e0e0e0;
}

select:focus {
    background: #E5E5F7;
    border: 1px solid #8EB69B;
    border-radius: 5px;
}

/* ----- Check Box ----- */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}