.simpleTable {
    border: 2px solid #0B2B26;
    background-color: #DAF1DE;
    border-radius: 6px;
    width: 100%;
}

.simpleTable td {
    border: 2px solid #0B2B26;
    border-radius: 6px;
    padding: 3px 5px;
}

.simpleTable th {
    background: #0B2B26;
    border: 2px solid #0B2B26;
    border-radius: 6px;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
    color: #E5E5F7;
}

.simpleTable tbody td {
    font-size: 14px;
    color: #0F0F0F;

}

.simpleTable thead {
    background: #0B2B26;
}

.simpleTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E5E5F7;
}

/* ----- Error Box Messaging ----- */
.alert {
    min-width: 600px;
    max-width: 600px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FFFF8A;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.overlayBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: none;
    /* Hidden by default */
    z-index: 1000;
    /* Ensure it's on top */
}

.alertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
    outline: none;
    background: #E5E5F7;
    color: #0F0F0F;
    border: 5px outset #8EB69B;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px #E2E2E2;
    transition: .3s ease;
    text-align: center;
    vertical-align: middle;
}
.baseBTN {
    appearance: none;
    background-color: #0B2B26;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    padding: 3px 6px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    vertical-align: middle;
}

.baseBTN:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.baseBTN:hover {
    background-color: #A0A0A0;
}

.baseBTN:focus {
    box-shadow: 8EB69B(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.baseBTN:disabled {
    background-color: red;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.baseBTN:active {
    background-color: #E5E5F7;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}